* {
    font-family: Verdana, sans-serif;
}

#content {
    margin: auto;
    width: 30%;
}

label {
    margin-right: 1em;
}

#add-task {
    background-color: #6C0E23;
    border: 0;
    color: #fff;
    padding: 1em 1em;
}

.remove {
    background-color: #6C0E23;
    border: 0;
    color: #fff;
}

#content header {
    margin: auto;
    width: 50%;
}